<div id="openModal1" class="modalDialog">
  <div>
    <a href="#close" title="Close" class="close">X</a>
    <h2>Seleccione mes y año</h2>

    <div class="row">
      <div class="col-md-6">
        <p class="modal_p">Mes</p>
        <input type="datetime" name="mes" value="{{mes}}">
      </div>

      <div class="col-md-6">
        <p class="modal_p">Año</p>
        <input type="datetime" name="año" value="{{año}}">
      </div>
    </div>

    <div class="boton">
      <button type="button" class="btn btn-light">Enviar</button>
    </div>
  </div>
</div>