{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>Estadistica de Facturacion Mensual</title>
        <style>
            @page {
                margin: 30;
                margin-bottom: 100px;
            }
            body{
                text-align: center;
            }
            h1{
                font-size: 3em;
                margin: 0;
            }        
            .table{
                height: 40px;
                border: 1px solid black;
            }
        </style>
    </head>

    <body>        
        <table style="margin-top: 0;margin-bottom: 0;">
            <td>Fecha de Impresion:</td>
            <td colspan="5"><input type="text" placeholder="print date"></td>
            <td style="text-align: right; height: 60px;">
                <img class="imagen" src="http://127.0.0.1:8000/static/assets/images/ico-2.png" alt="">
            </td>
        </table>
        <h1>Estadistica de Facturacion Mensual</h1>

        <table class="table">
            <tr>
                <th>Mt3</th>
                <th colspan="2">Total Facturado</th>
                <th colspan="2">Total Clientes</th>
                <th colspan="2">Total Adeudado</th>
                <th colspan="2">Total Cliente</th>
            </tr>  
        </table>
    </body>
</html>