{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Listado de lectura de medidor por mes</title>
    <style>@page {
                margin: 30;
                margin-bottom: 100px;
            }
            body{
                    text-align: center;
            }
        h1{
                font-size: 3em;
                margin: 0;
        }

        .tabla{
                height: 40px;
                border: 2px solid black;
        }
        th{
                background-color:silver;
        }
    </style>

</head>

<body>
        <table>
            <td style="text-align: right; height: 70px;">
                <img class="imagen" src="http://127.0.0.1:8000/static/assets/images/gota3.png" alt="">
            </td>
        </table>
        <h1>Listado de Consumo por Hora</h1>
        <h3>{{asociacion}}</h3>
        <p>Mes de <b>{{mes}}</b> del ano <b>{{ano}}</b></p>      
        <table class="tabla">
                <thead>
                        <tr>
                                <th>Identificador</th>
                                <th>Tipo de Riego</th>
                                <th>Consumo</th>
                                <th>Valor por cosumo</th>
                                <th width="60%">Parcelero</th>
                        </tr>
                </thead>
                <tbody>
                        {% for i in lista2 %} 
                        <tr>
                                <td>{{i.id}}</td>
                                <td>{{i.tipo}}</td>
                                <td>{{i.consumo}}</td>
                                <td>{{i.valor}}</td>
                                <td>{{i.nombre}}</td>   
                        </tr> 
                        {% endfor %}  
                </tbody>              
        </table>  
</body>
</html>