{% load staticfiles %}
<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Admin AprGes | 2019</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"crossorigin="anonymous">
        <link id="mainstyle" rel="stylesheet" href="{% static 'assets/stylesheets/theme-libs-plugins.css' %}">
        <link id="mainstyle" rel="stylesheet" href="{% static 'assets/stylesheets/skin copy 2.css' %}">
        <link id="mainstyle" rel="stylesheet" href="{% static 'assets/stylesheets/demo.css' %}">
        <script src="{% static 'dist/js/bootstrap-checkbox.js' %}" defer></script>
        <script src="{% static 'assets/scripts/lib/modernizr-custom.js' %}"></script>
        <script src="{% static 'assets/scripts/lib/respond.js' %}"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script> 
        <link rel="stylesheet" href="{% static 'src/toggle-switch.css' %}" />
        <style>
            .boton_info{
                background-color: #17a2b8;
                border-color: #17a2b8; 
                color: white;
            }
            .boton_info:hover{
                background-color: #0a8a9e;
                border-color: #0a8a9e;  
                color: white;            
            }   
            .boton_info:focus{
                background-color: #0a8a9e;
                border-color: #0a8a9e;               
            } 
            .panel-body {
                padding: 1.6rem 1.875rem;
                padding-bottom: 0;
            }
            .id_factura_numero{
                display: flex;
                align-items: center;
            }
            .id_factura_label{
                width: 9rem;
            }
            .id_factura_input{
                width: 9rem;
            }
            .id_factura_fecha{
                display: flex;
                align-items: center;
            }
            .div_boton{
                display: flex;
                justify-content: center;
            }
            .boton_historial{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 15rem;
                padding: 1rem 3rem;
            }
            .cuerpo{    
                width: 97%;
                margin: 1.875rem auto 0;
            }
            .card-body{
                overflow-x: scroll;
            }
            .tabla_titulos{
                background-color: #4183D7;
                color: white;
            }
            .cancelacion_fecha{
                display: flex;
                align-items: center;
            }
            .cancelacion_fecha_label{
                width: 12rem;
            }
            .cancelacion_fecha_input{
                width: 10rem;
            }
            .iconos{
                display: flex;
                justify-content: space-evenly;
                margin-top: 2rem;
            }
            .boton_iconos{
                border: none;
                background-color: transparent;
            }
            .icono{
                color: black;
                margin-bottom: .5rem;
            }
            @media (min-width: 765px){
                .cuerpo{
                    display: hidden;
                }
                .id, .cliente, .ubicacion, .contacto, .venta, .medidor {
                    display: flex;
                    margin-bottom: .5rem;
                }
                .id{
                    margin-bottom: 2rem;
                    justify-content: space-between;
                }
                .id_factura_fecha, .id_factura_numero{
                    display: flex;
                }
                .id_factura_fecha{
                    margin-top: 1rem;
                }
                .id_factura_label{
                    width: 10rem;
                }
                .id_factura_input{
                    width: 15rem;
                }
                .id_button{
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                }
                .id_button_btn{
                    padding: .5rem 2rem;
                    font-size: 1.2em;
                    margin-right: 2rem;
                }
                .cliente_label{
                    width: 15rem;
                }
                .cliente_input{
                    width: 20rem;
                }
                .direccion, .comuna, .telefono, .giro{
                    display: flex;
                }
                .direccion{
                    width: 70%;
                }
                .direccion_label{
                    width: 13.3rem;
                }
                .comuna{
                    width: 30%;
                }
                .comuna_label, .giro_label{
                    padding: 0 2rem 0 3rem;
                }
                .telefono{
                    width: 30%;
                }
                .telefono_label{
                    width: 17.3rem; 
                }
                .giro{
                    width: 70%;
                }
                .venta_label, .medidor_label{
                    width: 11.3rem;
                } 
                .venta_input{
                    width: 25rem;
                }
                .medidor{
                    margin-top: 3rem;
                }
                .medidor_input{
                    width: 10rem;
                }
                .tabla_titulos{
                    background-color: #4183D7;
                    color: white;
                }
                .card-body{
                    overflow: hidden;
                }
                .cancelacion{
                    display: flex;
                    justify-content: space-between;
                    margin-top: 2rem;
                }
                .cancelacion_fecha, .cancelacion_total{
                    display: flex;
                }
                .cancelacion_fecha_label{
                    width: 13rem;
                }
                .cancelacion_fecha_input{
                    width: 15rem;
                }
                .cancelacion_fecha_p{
                    width: auto;
                    margin-left: 1rem
                }
                .cancelacion_total_label{
                    width: 10rem;
                }

                .iconos{
                    display: flex;
                    justify-content: space-evenly;
                    margin-top: 2rem;
                }
                .icono{
                    color: black;
                }
            }
        </style>
        <script>
        
        $('#nrofactura').change(function(){
            document.f1.numero.value=document.getElementById('nrofactura');
        });

        </script>
    </head>

    <body class="orchid  ">
        <div class="mainmenu-block">
            <!-- SITE MAINMENU-->
            <nav class="menu-block">
                <ul class="nav">
                    <a href="/home/">
                        <img src="{% static 'assets/images/gota3.png' %}" class="img-fluid" style="padding: 30px;"/>
                    </a>
                </ul>
                <ul class="nav">
                    <li class="nav-item"><a class="nav-link" href="/home/"><i class="icon ion-home"></i>
                        <div class="menu-block-label">Home</div></a></li>
                    <li class="menu-block-has-sub nav-item"><a class="nav-link" href="#"><i class="icon ion-monitor"></i>
                        <div class="menu-block-label">Mantenedor<span class="label label-success">new</span></div></a>
                        <ul class="nav menu-block-sub">
                        <li class="nav-item"><a class="nav-link" href="/mantenedor/tramo1/">Tramo Tarifario</a></li>
                        <li class="nav-item"><a class="nav-link" href="/mantenedor/sector/">Sector</a></li>
                        <li class="nav-item"><a class="nav-link" href="/mantenedor/calle_area/">Calle y Área</a></li>
                        <li class="nav-item"><a class="nav-link" href="/mantenedor/cargo/">Cargo y Ocupación</a></li>
                        <li class="nav-item"><a class="nav-link" href="/mantenedor/funcionarios/">Datos Funcionarios</a></li>
                        <li class="nav-item"><a class="nav-link" href="/mantenedor/medidor/">Estado del medidor</a></li>
                        <li class="nav-item"><a class="nav-link" href="/mantenedor/proveedor/">Proveedor</a></li>
                        <li class="nav-item"><a class="nav-link" href="/mantenedor/asociacion/">Datos de Asociación</a></li>
                        <li class="nav-item"><a class="nav-link" href="/mantenedor/convenio/">Detalle de Convenio</a></li>
                        </ul>
                    </li>
                    <!--li.header GENERAL-->
                    <li class="menu-block-has-sub nav-item"><a class="nav-link" href="#"><i class="icon ion-ios-grid-view-outline"></i>
                        <div class="menu-block-label">Antecedentes</div></a>
                        <ul class="nav menu-block-sub">
                        <li class="nav-item"><a class="nav-link" href="/antecedentes/socios/">Incorporación de Socios</a></li>
                        <li class="nav-item"><a class="nav-link" href="/antecedentes/instalacion_medidor/">Instalación de Medidor</a></li>
                        <li class="nav-item"><a class="nav-link" href="/antecedentes/consumo_estanque/">Consumo Estanque</a></li>
                        <li class="nav-item"><a class="nav-link" href="/antecedentes/orden_trabajo/">Ordenes de Trabajo</a></li>
                        </ul>
                    </li>
                    <li class="menu-block-has-sub nav-item"><a class="nav-link" href="#"><i class="icon ion-grid"></i>
                        <div class="menu-block-label">Procesos</div></a>
                        <ul class="nav menu-block-sub">
                        <li class="nav-item"><a class="nav-link" href="/procesos/ingreso_lectura/">Ingreso de lectura</a></li>
                        <li class="nav-item"><a class="nav-link" href="/procesos/convenios/">Convenio y Pactación</a></li>
                        <li class="nav-item"><a class="nav-link" href="/procesos/subsidio/">Subsidio</a></li>
                        <li class="nav-item"><a class="nav-link" href="/procesos/cierre_periodo/">Cierre de periodo</a></li>
                        <li class="nav-item"><a class="nav-link" href="/procesos/generacion/">Generación de Docto Cobranza</a></li>
                        <li class="nav-item"><a class="nav-link" href="/procesos/pagos/">Ingreso de Pagos</a></li>
                        <li class="nav-item"><a class="nav-link" href="/procesos/cancelar_boleta/">Cancelar Boletas y/o Avisos</a></li>
                        <li class="nav-item"><a class="nav-link" href="/procesos/boleta_libre/">Boletas Libre</a></li>
                        <li class="nav-item"><a class="nav-link" href="/procesos/factura/">Ingreso de facturas</a></li>
                        <li class="nav-item"><a class="nav-link" href="/procesos/factura_libre/">Factura Libre</a></li>
                        <li class="nav-item"><a class="nav-link" href="/procesos/lectura_rapida/">Lectura rápida</a></li>
                        </ul>
                    </li>
                    <li class="menu-block-has-sub nav-item"><a class="nav-link" href="#"><i class="icon ion-toggle"></i>
                        <div class="menu-block-label">Informes</div></a>
                        <ul class="nav menu-block-sub">
                        <li class="nav-item"><a class="nav-link" href="/informes/informes/">Informes</a></li>
                        <li class="nav-item"><a class="nav-link" href="/informes/consultas/medidor/">Consultas Medidor</a></li>
                        <li class="nav-item"><a class="nav-link" href="/informes/consultas/lectura/">Consultas Lectura</a></li>
                        <li class="nav-item"><a class="nav-link" href="/informes/cuentas/ind/">Cuentas Individuales</a></li>
                        <li class="nav-item"><a class="nav-link" href="/informes/toma/lectura/">Toma Lectura</a></li>
                        <li class="nav-item"><a class="nav-link" href="/informes/registro/financiero/">Registro Financiero y Presupuesto</a></li>
                        <li class="nav-item"><a class="nav-link" href="/informes/consultas/corte/">Consultas de Corte y Reposición</a></li>
                        </ul>
                    </li>
                    <li class="menu-block-has-sub nav-item"><a class="nav-link" href="#"><i class="icon ion-cube"></i>
                        <div class="menu-block-label">Contabilidad</div><span class="label label-success">new</span></a>
                        <ul class="nav menu-block-sub">
                        <li class="nav-item"><a class="nav-link" href="/contabilidad/plancuenta/egreso/">Plan de Cuentas</a></li>
                        <li class="nav-item"><a class="nav-link" href="/contabilidad/comprobante/ingreso/">Comprobante de Ingresos</a></li>
                        <li class="nav-item"><a class="nav-link" href="/contabilidad/comprobante/egresos/">Comprobante de Egresos</a></li>
                        <li class="nav-item"><a class="nav-link" href="/contabilidad/libro_venta/">Libro Venta</a></li>    
                        <li class="nav-item"><a class="nav-link" href="/contabilidad/arqueo_caja/">Arqueo Caja</a></li>    
                        <li class="nav-item"><a class="nav-link" href="/contabilidad/cuenta_corriente/">Cuenta Corriente</a></li>    
                        <li class="nav-item"><a class="nav-link" href="/contabilidad/conciliacion_bancaria/">Conciliación Bancaria</a></li> 
                        </ul>
                    </li>
                    <!--li.header.nav-item APP-->
                    <li class="menu-block-has-sub nav-item"><a class="nav-link" href="#"><i class="icon ion-document"></i>
                        <div class="menu-block-label">Configuración</div></a>
                        <ul class="nav menu-block-sub">
                        <li class="nav-item"><a class="nav-link" href="/configuracion/arregla_datos/">Arregla datos Manuales</a></li>
                        <li class="nav-item"><a class="nav-link" href="/configuracion/condonacion/">Condonación de Deuda</a></li>
                        <li class="nav-item"><a class="nav-link" href="/configuracion/eliminar_abono/">Eliminar o Anular Abono</a></li>
                        <li class="nav-item"><a class="nav-link" href="/configuracion/mensaje/">Mensaje de Avisos</a></li>
                        <li class="nav-item"><a class="nav-link" href="/configuracion/mensaje_cobro/">Mensaje y cobro avisos</a></li>
                        <li class="nav-item"><a class="nav-link" href="/configuracion/respaldar_info/">Respaldar Información de Base de Datos</a></li>
                        <li class="nav-item"><a class="nav-link" href="/configuracion/crear_usuario/">Crear Usuarios</a></li>
                                  <li class="nav-item"><a class="nav-link" href="/configuracion/boletas_vigentes/">Boletas Vigentes</a></li>
                        </ul>
                    </li>
                </ul>
            <!-- END SITE MAINMENU-->
            </nav>
        </div>

        <!-- #MAIN-->
        <div class="main-wrapper">

            <!-- VIEW WRAPPER-->
            <div class="view-wrapper">

                <!-- TOP WRAPPER-->
                <div class="topbar-wrapper">

                <!-- NAV FOR MOBILE-->
                <div class="topbar-wrapper-mobile-nav"><a class="topbar-togger js-minibar-toggler" href="#"><i class="icon ion-ios-arrow-back hidden-md-down"></i><i class="icon ion-navicon-round hidden-lg-up"></i></a><a class="topbar-togger pull-xs-right hidden-lg-up js-nav-toggler" href="#"><i class="icon ion-android-person"></i></a>

                    <!-- ADD YOUR LOGO HEREText logo: a.topbar-wrapper-logo(href="#") AdminHero
                    --><a class="topbar-wrapper-logo demo-logo" href="index.html">AdminAprGes</a>
                </div>
                <!-- END NAV FOR MOBILE-->

                <!-- SEARCH-->
                <div class="topbar-wrapper-search">
                    <form>
                    <input class="form-control" type="search" placeholder="Search"><a class="topbar-togger topbar-togger-search js-close-search" href="#"><i class="icon ion-close"></i></a>
                    </form>
                </div>
                <!-- END SEARCH-->

                <!-- TOP RIGHT MENU-->
                <ul class="nav navbar-nav topbar-wrapper-nav">
                    <li class="nav-item"><a class="nav-link js-search-togger" href="#"><i class="icon ion-ios-search-strong"></i></a></li>

                    <li class="nav-item dropdown"><a class="nav-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="icon fa fa-columns"></i><span class="badge badge-success status">4</span></a>

                    <!-- #RIGHT BLOCK-->
                    <!--
                    RIGHT PANEL
                    * same dropdown-menu markup, add '.dropdown-menu-side'
                    -->
                    <div class="dropdown-menu dropdown-menu-side">
                        <ul class="nav nav-tabs nav-justified">
                        <li class="nav-item"><a class="nav-link active" data-target="#demoright-1" aria-controls="demoright-1" role="tab" data-toggle="tab"><i class="ion-help-buoy icon"></i></a></li>
                        <li class="nav-item"><a class="nav-link" data-target="#demoright-2" aria-controls="demoright-2" role="tab" data-toggle="tab"><i class="ion-quote icon"></i></a></li>
                        <li class="nav-item"><a class="nav-link" data-target="#demoright-3" aria-controls="demoright-3" role="tab" data-toggle="tab"><i class="ion-gear-b icon"></i></a></li>
                        </ul>
                        <div class="tab-content">
                        <div class="tab-pane active fade in" role="tabpanel" id="demoright-1"><a class="dropdown-item media circle-box" href="#">
                            <div class="media-left media-middle"><img class="media-object circle-object" src="#" alt=""></div>
                            <div class="media-body">
                                <div class="media-heading">Ryan Sears</div>
                                <p class="text-muted small">Rome; Hard there to deeply verbal page goals a accept into it pri</p>
                            </div></a><a class="dropdown-item media circle-box" href="#">
                            <div class="media-left media-middle">
                                <div class="media-object circle-object bg-info"><i class="ion-calendar"></i></div>
                            </div>
                            <div class="media-body">
                                <div class="media-heading">Event remind.</div>
                                <p class="text-muted small">10 min ago</p>
                            </div></a><a class="dropdown-item media circle-box" href="#">
                            <div class="media-left media-middle">
                                <div class="media-object circle-object bg-success">40%</div>
                            </div>
                            <div class="media-body">
                                <div class="media-heading">Event remind.</div>
                                <div class="progress">
                                <progress class="progress progress-danger loader" value="46" max="100"></progress>
                                </div>
                                <p class="text-muted small">10 min ago</p>
                            </div></a><a class="dropdown-item media circle-box" href="#">
                            <div class="media-left media-middle">
                                <div class="media-object circle-object bg-danger">2d</div>
                            </div>
                            <div class="media-body">
                                <div class="media-heading">Project deadline.</div>
                                <div class="progress">
                                <progress class="progress progress-success loader" value="80" max="100"></progress>
                                </div>
                                <p class="text-muted small">80% completion</p>
                            </div></a><a class="dropdown-item media circle-box" href="#">
                            <div class="media-body">
                                <div class="media-heading">Judith Sullivan</div>
                                <p class="text-muted small">Option wouldn't small hardly of and more believe The fundamentals</p>
                            </div></a>
                        </div>
                        <div class="tab-pane p-a-1 fade" role="tabpanel" id="demoright-2"></div>
                        <div class="tab-pane p-a-1 fade" role="tabpanel" id="demoright-3"></div>
                        </div>
                    </div>
                    <!-- END RIGHt PANEL-->
                    </li>

                    <li class="nav-item dropdown"><a class="nav-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="icon ion-android-notifications-none"></i><span class="badge badge-danger status">9+</span></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="dropdown-header">Notifications (5)</div>
                            <div class="dropdown-menu-inner">
                                <a class="dropdown-item media circle-box" href="#">
                                    <div class="media-body">
                                        <div class="media-heading">Ryan Sears</div>
                                        <p class="text-muted small">Pink do well together specially name if design postage briefs big into in her working</p>
                                    </div>
                                </a>
                                <a class="dropdown-item media circle-box" href="#">
                                    <div class="media-left media-middle">
                                        <div class="media-object circle-object bg-danger"><i class="fa fa-bug"></i></div>
                                    </div>
                                    <div class="media-body">
                                        <div class="media-heading">Server Error</div>
                                        <p class="text-muted small">3 minutes ago</p>
                                    </div>
                                </a>
                                <a class="dropdown-item media circle-box" href="#">
                                    <div class="media-left media-middle">
                                        <div class="media-object circle-object bg-success"><i class="fa fa-check"></i>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <div class="media-heading">Server Error Reports</div>
                                        <p class="text-muted small">3 minutes ago</p>
                                    </div>
                                </a>
                                <a class="dropdown-item media circle-box" href="#">
                                    <div class="media-body">
                                        <div class="media-heading">Judith Sullivan</div>
                                        <p class="text-muted small">Option wouldn't small hardly of and more believe The fundamentals</p>
                                    </div>
                                </a>
                            </div><a class="dropdown-item" href="#">
                            <div class="text-xs-center"><i class="ion-more"></i></div></a>
                        </div>
                    </li>
                    <li class="nav-item dropdown"><a class="nav-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="icon ion-paintbucket"></i></a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg">
                            <div class="js-color-switcher demo-color-switcher">
                                <div class="dropdown-header">Flat</div>
                                <div class="list-inline"><a class="list-inline-item" href="#" data-color="f-dark">
                                    <div class="demo-skin-grid f-dark"></div></a><a class="list-inline-item" href="#" data-color="f-dark-blue">
                                    <div class="demo-skin-grid f-dark-blue"></div></a><a class="list-inline-item" href="#" data-color="f-blue">
                                    <div class="demo-skin-grid f-blue"></div></a><a class="list-inline-item" href="#" data-color="f-green">
                                    <div class="demo-skin-grid f-green"></div></a><a class="list-inline-item" href="#" data-color="f-deep-taupe">
                                    <div class="demo-skin-grid f-deep-taupe"></div></a>
                                </div>
                                <div class="dropdown-header">Gradient</div>
                                <div class="list-inline"><a class="list-inline-item" href="#" data-color="orchid">
                                    <div class="demo-skin-grid orchid"></div></a><a class="list-inline-item" href="#" data-color="cadetblue">
                                    <div class="demo-skin-grid cadetblue"></div></a><a class="list-inline-item" href="#" data-color="joomla">
                                    <div class="demo-skin-grid joomla"></div></a><a class="list-inline-item" href="#" data-color="influenza">
                                    <div class="demo-skin-grid influenza"></div></a><a class="list-inline-item" href="#" data-color="moss">
                                    <div class="demo-skin-grid moss"></div></a><a class="list-inline-item" href="#" data-color="mirage">
                                    <div class="demo-skin-grid mirage"></div></a><a class="list-inline-item" href="#" data-color="stellar">
                                    <div class="demo-skin-grid stellar"></div></a><a class="list-inline-item" href="#" data-color="servquick">
                                    <div class="demo-skin-grid servquick"></div></a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#"><i class="icon ion-android-exit"></i></a></li>
                    <li class="nav-item"><a class="nav-link close-mobile-nav js-close-mobile-nav" href="#"><i class="icon ion-close"></i></a></li>
                    <!-- END TOP RIGHT MENU-->
            </ul>
                </div>
                <!--END TOP WRAPPER-->


                <!-- PAGE CONTENT HERE-->
                <!-- #PAGE HEADER-->
                <!-- PAGE HEADER-->
                <div class="page-header">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="media">
                                <div class="media-body">
                                    <div class="display-6">Generar Factura</div>
                                    <div class="small text-muted">para soporte llamar a 22 </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PAGE HEADER-->
                <div class="panel panel-default cuerpo">
                <div class="container-fluid">
                    <div class="row js-grid-wrapper panel-wrapper">
                        <div class="panel panel-default">
                            <!-- #SELECT2-->
                            {% block content3 %}	
                            <form class="col-sm-12" action="/antecedentes/orden_trabajo/" method="POST">
                                {% csrf_token %}                    
                                <div class="panel-heading div_boton">
                                    <a class="btn btn-block active m-b-2 boton_info boton_historial" type="button" name="historial" href="/procesos/factura/historial/" id="historial"><i class="fas fa-book fa-3x m-r-1"></i>Historial</a>
                                </div>
                            </form>
                            {% endblock %}    
                            <!-- #SELECT2 -->

                            <!-- #SELECT2-->
                            {% block content1 %}	
                            <form class="col-sm-12" action="/procesos/factura/" method="POST">
                                {% csrf_token %}
                                
                                <div class="panel-body">
                                    <div class="id_factura_numero">
                                        <label for="" class="id_factura_label col-form-label">NRO FACTURA</label>
                                        <input type="text" class="id_factura_input form-control" id="nrofactura" name="nrofactura" value="{{nrofactura}}">
                                        <button class="btn btn-outline-success boton_info search_boton" type="submit" name="buscar" id="buscar">Buscar</button>
                                        <p></p>
                                        <button type="submit" style="margin-left: 10px" class="id_button_btn btn btn-warning" name="anular" id="anular">Anular Factura</button>
                                        <input type="hidden" name="nro" id="nro" value="{{nrofactura}}">
                                    </div>
                                    <label>{{mensajeanular}}</label>
                                </div> 
                            </form>
                            {% endblock %}
                                    
                            {% block content %}	
                            <form id="f1" name="f1" class="col-sm-12" action="/procesos/factura/" method="POST">
                                {% csrf_token %}  
                                <div class="panel-body p-t-0">
                                    <input type="hidden" name="numero" id="numero">
                                    <input type="hidden" name="nro2" id="nro2" value="{{nrofactura}}">
                                    <div class=" m-b-3">                        
                                        <div class="id form-group">
                                            <div class="id_factura">
                                                <div class="id_factura_fecha">
                                                    <label for="" class="id_factura_label col-form-label m-b-0">FECHA EMISIÓN</label>
                                                    <input type="text" class="id_factura_input form-control" name="fecha_actual" id="fecha_actual" value="{{fecha_actual}}">                                
                                                </div>
                                            </div>
                                        </div>    

                                        <div class="cliente form-group">
                                            <label for="" class="cliente_label">Seleccionar Cliente</label>
                                            <input type="text" class="cliente_input form-control" id="identi" name="identi" value="{{id_}}" disabled>
                                            <input type="hidden" class="cliente_input form-control" id="id_" name="id_" value="{{id_}}" required>
                                            <input type="text" class="cliente_select form-control" placeholder="Buscar por nombre...." id="buscarsocio" name="buscarsocio" value="{{nombres}}" required>
                                        </div>
                                                
                                        <div class="ubicacion form-group">
                                            <div class="direccion">
                                                <label for="" class="direccion_label">Dirección</label>
                                                <input type="text" class="direccion_input form-control" id="direccion" name="direccion" value="{{direccion}}">
                                            </div>        
                                        </div>
                
                                        <div class="contacto form-group">
                                            <div class="telefono">
                                                <label for="" class="telefono_label">Teléfono</label>
                                                <input type="text" class="telefono_input form-control" name="telefono" id="telefono" value="{{telefono}}">
                                            </div>
                                            <div class="giro">
                                                <label for="" class="giro_label">Giro</label>
                                                <input type="text" class="giro_input form-control" name="giro" id="giro" value="{{giro}}">
                                            </div>  
                                        </div>    

                                        <div class=" form-group">
                                            <label for="">Detalle</label>
                                            <textarea class="form-control" cols="30" rows="5" required name="detalle" id="detalle">{{detalle}}</textarea>
                                        </div>
                                                    
                                        <div class="cancelacion form-group">
                                            <div class="cancelacion_fecha">
                                                <b class="cancelacion_fecha_label">FECHA CANCELACIÓN</b>
                                                <input type="text" class="cancelacion_fecha_input form-control" name="fechapago" id="fechapago" value="{{fechapago}}" placeholder="dd-mm-yyyy" onkeyup="
                                                    var date = this.value;
                                                    if (date.match(/^\d{2}$/) !== null) {
                                                    this.value = date + '/';
                                                    } else if (date.match(/^\d{2}\/\d{2}$/) !== null) {
                                                    this.value = date + '/';
                                                    }" maxlength="10" required>
                                                <button class="btn btn-outline-success boton_info search_boton" type="submit" name="pagar" id="pagar">Pagar</button>
                                            </div>
                                            <div class="cancelacion_total">
                                                <p class="cancelacion_total_label">Total a Pagar</p>
                                                <input type="number" class="cancelacion_total_input form-control" name="total" id="total" value="{{monto}}" required>
                                            </div>           
                                        </div>
                
                                        <div class="iconos">
                                            <label>{{mensaje}}</label>
                                        </div>
                
                                        <div class="iconos form-group">
                                            <button class="boton_iconos" type="submit" id="guardar" name="guardar">                                            
                                                <a href="#"><i class="far fa-save fa-4x icono"></i></a>
                                            </button>
                                            <button class="boton_iconos" type="submit" id="abonar" name="abonar">                                            
                                                <a href="#"><i class="fas fa-print fa-4x icono"></i></a>
                                            </button>
                                            <button class="boton_iconos" type="submit" id="eliminar" name="eliminar">                                            
                                                <a href="#"><i class="fas fa-trash-alt fa-4x icono"></i></a>
                                            </button>
                                        </div>                                
                                    </div>
                                </div>
                            </form>
                            {% endblock %}            
                            <!-- SELECT2 -->
                        </div>
                        <!-- ROW -->
                    </div>
                    <!-- CONTAINER-FLUID -->   
                </div>
            </div>
            <!-- END VIEW-WRAPER -->
        </div>
        <!-- END MAIN-WRAPER -->
        </div>
                
        <!-- WEB PERLOAD-->
        <div id="preload">
                <ul class="loading">
                <li></li>
                <li></li>
                <li></li>
                </ul>
            </div>


        <script type="text/javascript">
        $(document).ready(function () {
            var availableTags =['{% for n in all_socios %}{{n.id}}  {{n.nombre}}','{% endfor %}'];
                $("#buscarsocio").autocomplete({
                source: availableTags,
                minLength: 2,
                });
            });
            $("#buscarsocio").change(function () {
            var countryId = $(this).val();
            $.ajax({
                url: '/procesos/consumo/id/',
                data: {
                'socio': countryId
                },
                success: function (data) {
                $("#id_").val(
                    data
                );
                $("#identi").val(
                    data
                );
                
                }
                
            });
            });
            $(':checkbox').checkboxpicker();
        </script>

        <script src="{% static 'assets/scripts/lib/jquery-1.11.3.min.js' %}"></script>
        <script src="{% static 'assets/scripts/lib/jquery-ui.js' %}"></script>
        <script src="{% static 'assets/scripts/lib/tether.min.js' %}"></script>
        <script src="{% static 'assets/scripts/theme/theme-plugins.js' %}"></script>
        <script src="{% static 'assets/scripts/theme/main.js' %}"></script>
        <script src="{% static 'assets/scripts/demo/demo-skin.js' %}"></script>
        <script src="{% static 'assets/scripts/demo/bar-chart-menublock.js' %}"></script>
    </body>
</html>