{% load staticfiles %}
<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin AprGes | 2019</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"crossorigin="anonymous">
    <link id="mainstyle" rel="stylesheet" href="{% static 'assets/stylesheets/theme-libs-plugins.css' %}">
    <link id="mainstyle" rel="stylesheet" href="{% static 'assets/stylesheets/skin copy 2.css' %}">
    <link id="mainstyle" rel="stylesheet" href="{% static 'assets/stylesheets/demo.css' %}">
    <script src="{% static 'dist/js/bootstrap-checkbox.js' %}" defer></script>
    <script src="{% static 'assets/scripts/lib/modernizr-custom.js' %}"></script>
    <script src="{% static 'assets/scripts/lib/respond.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script> 
    <link rel="stylesheet" href="{% static 'src/toggle-switch.css' %}" />
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <style>
      a {
        color: #000;
      }
      .tabla_info{
        color: #fff;
        background-color: #17a2b8;
        border-color: #17a2b8;        
      }  
      .fc{
        display: flex;
        justify-content: space-between;
      }
      .cerdo{
        display: block;
        text-align: center;
        margin-top: 1rem;
      }
      .der{
        overflow: auto;
      }
      .tabla_dinero{
        display: flex;
        flex-wrap: wrap;
      }
      .monedas{
        margin-right: 1rem;
      }
      .monedas, .billetes{
        width: 16rem;
      }
      .dinero {
        padding: .5rem  !important;
        text-align: right;
      }
      .dinero_label{
        width: 6rem;
        text-align: right;
      }
      .dinero input {
        border: none;
        width: 100%;
        text-align: right;
      }  
      .total_monedas, .total_billetes{
        display: flex;
      }
      .total_monedas{
        margin-top: 3.8rem;
      }  
      .total_dinero_label{
        width: 12rem;
      }
      .totalisimo{
        display: flex;
        margin: 0 auto 1rem;
      }
      .totalisimo h5 {
        width: 8rem;
        margin: 0;
        padding-top: .2rem; 
      }
      .totalisimo input {
        width: 10rem;
      }
      .tabla{
        display: flex;
      }
      .tablas {
        padding: .5rem  !important;
      }
      .tablas input {
        border: none;
        width: 100%;
        text-align: right;
      }
      .tablas_label{
        width: 11rem;
      }      
      .boton_iconos{
        border: none;
        background-color: transparent;
      }         
      .iconos{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 2rem;
        margin-bottom: 1rem;
      }
      .icono{
        color: black;
        margin-top: 1rem;
      }
      @media (min-width: 1100px) { 
        .contenido{
          margin: 0 3rem;
        }
        .ec, .fc, .fecha, .correlativo, .oficina, .cajero, .cerdo, .et, .fijo, .ingreso, .total, .egreso, .saldo, .fijo, .neto, .mbt, .tabla{
          display: flex;
          margin-bottom: .2rem;
        }
        .total_monedas, .total_billetes, .tabla_dinero{
          display: flex;
        }
        .total_label{
          width: 10rem;
        }
        .fc{
          justify-content: space-between;
        }
        .et{
          margin-bottom: 1rem;
        }
        .izq{
          width: 15%;
          margin-right: 1rem;
        }
        .der{
          width: 84%;
          border: 1px solid #e5e5e5;
          border-radius: 5px;
          overflow: auto
        }
        .fijo_label, .ingreso_label, .total_label, .egreso_label, .saldo_label, .fijo_label, .neto_label{
          width: 10rem;
        }
        .etiquetas{
          width: 90%;
        }
        .fecha_label{
          width: 8.5rem;
        }
        .correlativo_label{
          width: 10rem;
        }
        .cajero_label, .oficina_label{
          width: 6.3rem;
        }
        .cerdo{
          width: 10%;
          justify-content: center;
          align-items: center;
        }
        .banco{
          width: 50rem;
        }
        .vencimiento{
          width: 10rem;
        }
        .iconos{
          justify-content: space-evenly;
          width: 100%;
        }

        .mbt{
          margin: 0 12rem;
        }
        .tabla_dinero{
          width: 35%;
          margin-right: 2rem;
        }
        .monedas, .billetes{
          width: 48%;
        }
        .tabla{
          width: 60%;
        }
        .monedas_titulos, .billetes_titulo{
          text-align: center;
        }
        .total_dinero_label{
          width: 14.5rem;
        }       

        .tabla1, .tabla2{
          width: 50%;
        }
      }
    </style>
  </head>

  <body class="orchid">
    <div class="mainmenu-block">
      <!-- SITE MAINMENU-->
      <nav class="menu-block">
        <ul class="nav">
          <a href="/home/">
            <img src="{% static 'assets/images/gota3.png' %}" class="img-fluid" style="padding: 30px;"/>
          </a>
        </ul>
        <ul class="nav">
          <li class="nav-item"><a class="nav-link" href="/home/"><i class="icon ion-home"></i>
            <div class="menu-block-label">Home</div></a></li>
          <li class="menu-block-has-sub nav-item"><a class="nav-link" href="#"><i class="icon ion-monitor"></i>
            <div class="menu-block-label">Mantenedor<span class="label label-success">new</span></div></a>
            <ul class="nav menu-block-sub">
              <li class="nav-item"><a class="nav-link" href="/mantenedor/tramo1/">Tramo Tarifario</a></li>
              <li class="nav-item"><a class="nav-link" href="/mantenedor/sector/">Sector</a></li>
              <li class="nav-item"><a class="nav-link" href="/mantenedor/calle_area/">Calle y Área</a></li>
              <li class="nav-item"><a class="nav-link" href="/mantenedor/cargo/">Cargo y Ocupación</a></li>
              <li class="nav-item"><a class="nav-link" href="/mantenedor/funcionarios/">Datos Funcionarios</a></li>
              <li class="nav-item"><a class="nav-link" href="/mantenedor/medidor/">Estado del medidor</a></li>
              <li class="nav-item"><a class="nav-link" href="/mantenedor/proveedor/">Proveedor</a></li>
              <li class="nav-item"><a class="nav-link" href="/mantenedor/asociacion/">Datos de Asociación</a></li>
              <li class="nav-item"><a class="nav-link" href="/mantenedor/convenio/">Detalle de Convenio</a></li>
            </ul>
          </li>
          <!--li.header GENERAL-->
          <li class="menu-block-has-sub nav-item"><a class="nav-link" href="#"><i class="icon ion-ios-grid-view-outline"></i>
            <div class="menu-block-label">Antecedentes</div></a>
            <ul class="nav menu-block-sub">
              <li class="nav-item"><a class="nav-link" href="/antecedentes/socios/">Incorporación de Socios</a></li>
              <li class="nav-item"><a class="nav-link" href="/antecedentes/instalacion_medidor/">Instalación de Medidor</a></li>
              <li class="nav-item"><a class="nav-link" href="/antecedentes/consumo_estanque/">Consumo Estanque</a></li>
              <li class="nav-item"><a class="nav-link" href="/antecedentes/orden_trabajo/">Ordenes de Trabajo</a></li>
            </ul>
          </li>
          <li class="menu-block-has-sub nav-item"><a class="nav-link" href="#"><i class="icon ion-grid"></i>
            <div class="menu-block-label">Procesos</div></a>
            <ul class="nav menu-block-sub">
              <li class="nav-item"><a class="nav-link" href="/procesos/ingreso_lectura/">Ingreso de lectura</a></li>
              <li class="nav-item"><a class="nav-link" href="/procesos/convenios/">Convenio y Pactación</a></li>
              <li class="nav-item"><a class="nav-link" href="/procesos/subsidio/">Subsidio</a></li>
              <li class="nav-item"><a class="nav-link" href="/procesos/cierre_periodo/">Cierre de periodo</a></li>
              <li class="nav-item"><a class="nav-link" href="/procesos/generacion/">Generación de Docto Cobranza</a></li>
              <li class="nav-item"><a class="nav-link" href="/procesos/pagos/">Ingreso de Pagos</a></li>
              <li class="nav-item"><a class="nav-link" href="/procesos/cancelar_boleta/">Cancelar Boletas y/o Avisos</a></li>
              <li class="nav-item"><a class="nav-link" href="/procesos/boleta_libre/">Boletas Libre</a></li>
              <li class="nav-item"><a class="nav-link" href="/procesos/factura/">Ingreso de facturas</a></li>
              <li class="nav-item"><a class="nav-link" href="/procesos/factura_libre/">Factura Libre</a></li>
              <li class="nav-item"><a class="nav-link" href="/procesos/lectura_rapida/">Lectura rápida</a></li>
            </ul>
          </li>
          <li class="menu-block-has-sub nav-item"><a class="nav-link" href="#"><i class="icon ion-toggle"></i>
            <div class="menu-block-label">Informes</div></a>
            <ul class="nav menu-block-sub">
              <li class="nav-item"><a class="nav-link" href="/informes/informes/">Informes</a></li>
              <li class="nav-item"><a class="nav-link" href="/informes/consultas/medidor/">Consultas Medidor</a></li>
              <li class="nav-item"><a class="nav-link" href="/informes/consultas/lectura/">Consultas Lectura</a></li>
              <li class="nav-item"><a class="nav-link" href="/informes/cuentas/ind/">Cuentas Individuales</a></li>
              <li class="nav-item"><a class="nav-link" href="/informes/toma/lectura/">Toma Lectura</a></li>
              <li class="nav-item"><a class="nav-link" href="/informes/registro/financiero/">Registro Financiero y Presupuesto</a></li>
              <li class="nav-item"><a class="nav-link" href="/informes/consultas/corte/">Consultas de Corte y Reposición</a></li>
            </ul>
          </li>
          <li class="menu-block-has-sub nav-item"><a class="nav-link" href="#"><i class="icon ion-cube"></i>
            <div class="menu-block-label">Contabilidad</div><span class="label label-success">new</span></a>
            <ul class="nav menu-block-sub">
              <li class="nav-item"><a class="nav-link" href="/contabilidad/plancuenta/egreso/">Plan de Cuentas</a></li>
              <li class="nav-item"><a class="nav-link" href="/contabilidad/comprobante/ingreso/">Comprobante de Ingresos</a></li>
              <li class="nav-item"><a class="nav-link" href="/contabilidad/comprobante/egresos/">Comprobante de Egresos</a></li>
              <li class="nav-item"><a class="nav-link" href="/contabilidad/libro_venta/">Libro Venta</a></li>    
              <li class="nav-item"><a class="nav-link" href="/contabilidad/arqueo_caja/">Arqueo Caja</a></li>    
              <li class="nav-item"><a class="nav-link" href="/contabilidad/cuenta_corriente/">Cuenta Corriente</a></li>    
              <li class="nav-item"><a class="nav-link" href="/contabilidad/conciliacion_bancaria/">Conciliación Bancaria</a></li> 
            </ul>
          </li>
          <!--li.header.nav-item APP-->
          <li class="menu-block-has-sub nav-item"><a class="nav-link" href="#"><i class="icon ion-document"></i>
            <div class="menu-block-label">Configuración</div></a>
            <ul class="nav menu-block-sub">
              <li class="nav-item"><a class="nav-link" href="/configuracion/arregla_datos/">Arregla datos Manuales</a></li>
              <li class="nav-item"><a class="nav-link" href="/configuracion/condonacion/">Condonación de Deuda</a></li>
              <li class="nav-item"><a class="nav-link" href="/configuracion/eliminar_abono/">Eliminar o Anular Abono</a></li>
              <li class="nav-item"><a class="nav-link" href="/configuracion/mensaje/">Mensaje de Avisos</a></li>
              <li class="nav-item"><a class="nav-link" href="/configuracion/mensaje_cobro/">Mensaje y cobro avisos</a></li>
              <li class="nav-item"><a class="nav-link" href="/configuracion/respaldar_info/">Respaldar Información de Base de Datos</a></li>
              <li class="nav-item"><a class="nav-link" href="/configuracion/crear_usuario/">Crear Usuarios</a></li>
              <li class="nav-item"><a class="nav-link" href="/configuracion/boletas_vigentes/">Boletas Vigentes</a></li>
            </ul>
          </li>
        </ul>
      <!-- END SITE MAINMENU-->
      </nav>
    </div>

    <!-- #MAIN-->
    <div class="main-wrapper">

      <!-- VIEW WRAPPER-->
      <div class="view-wrapper">

        <!-- TOP WRAPPER-->
        <div class="topbar-wrapper">

          <!-- NAV FOR MOBILE-->
          <div class="topbar-wrapper-mobile-nav">
            <a class="topbar-togger js-minibar-toggler" href="#"><i class="icon ion-ios-arrow-back hidden-md-down"></i><i class="icon ion-navicon-round hidden-lg-up"></i></a>
            <a class="topbar-togger pull-xs-right hidden-lg-up js-nav-toggler" href="#"><i class="icon ion-android-person"></i></a>
            <!-- ADD YOUR LOGO HEREText logo: a.topbar-wrapper-logo(href="#") AdminHero-->
            <a class="topbar-wrapper-logo demo-logo" href="index.html">AdminAprGes</a>
          </div>
          <!-- END NAV FOR MOBILE-->

          <!-- SEARCH-->
          <div class="topbar-wrapper-search">
            <form>
              <input class="form-control" type="search" placeholder="Search"><a class="topbar-togger topbar-togger-search js-close-search" href="#"><i class="icon ion-close"></i></a>
            </form>
          </div>
          <!-- END SEARCH-->

          <!-- TOP RIGHT MENU-->
          <ul class="nav navbar-nav topbar-wrapper-nav">
            <li class="nav-item"><a class="nav-link js-search-togger" href="#"><i class="icon ion-ios-search-strong"></i></a></li>

            <li class="nav-item dropdown"><a class="nav-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="icon fa fa-columns"></i><span class="badge badge-success status">4</span></a>

              <!-- #RIGHT BLOCK-->
              <!--RIGHT PANEL
              * same dropdown-menu markup, add '.dropdown-menu-side'-->
              <div class="dropdown-menu dropdown-menu-side">
                <ul class="nav nav-tabs nav-justified">
                  <li class="nav-item"><a class="nav-link active" data-target="#demoright-1" aria-controls="demoright-1" role="tab" data-toggle="tab"><i class="ion-help-buoy icon"></i></a></li>
                  <li class="nav-item"><a class="nav-link" data-target="#demoright-2" aria-controls="demoright-2" role="tab" data-toggle="tab"><i class="ion-quote icon"></i></a></li>
                  <li class="nav-item"><a class="nav-link" data-target="#demoright-3" aria-controls="demoright-3" role="tab" data-toggle="tab"><i class="ion-gear-b icon"></i></a></li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active fade in" role="tabpanel" id="demoright-1">
                    <a class="dropdown-item media circle-box" href="#">
                      <div class="media-left media-middle"><img class="media-object circle-object" src="#" alt=""></div>
                      <div class="media-body">
                        <div class="media-heading">Ryan Sears</div>
                        <p class="text-muted small">Rome; Hard there to deeply verbal page goals a accept into it pri</p>
                      </div>
                    </a>
                    <a class="dropdown-item media circle-box" href="#">
                      <div class="media-left media-middle">
                        <div class="media-object circle-object bg-info"><i class="ion-calendar"></i></div>
                      </div>
                      <div class="media-body">
                        <div class="media-heading">Event remind.</div>
                        <p class="text-muted small">10 min ago</p>
                      </div>
                    </a>
                    <a class="dropdown-item media circle-box" href="#">
                      <div class="media-left media-middle">
                        <div class="media-object circle-object bg-success">40%</div>
                      </div>
                      <div class="media-body">
                        <div class="media-heading">Event remind.</div>
                        <div class="progress">
                          <progress class="progress progress-danger loader" value="46" max="100"></progress>
                        </div>
                        <p class="text-muted small">10 min ago</p>
                      </div>
                    </a>
                    <a class="dropdown-item media circle-box" href="#">
                      <div class="media-left media-middle">
                        <div class="media-object circle-object bg-danger">2d</div>
                      </div>
                      <div class="media-body">
                        <div class="media-heading">Project deadline.</div>
                        <div class="progress">
                          <progress class="progress progress-success loader" value="80" max="100"></progress>
                        </div>
                        <p class="text-muted small">80% completion</p>
                      </div>
                    </a>
                    <a class="dropdown-item media circle-box" href="#">
                      <div class="media-body">
                        <div class="media-heading">Judith Sullivan</div>
                        <p class="text-muted small">Option wouldn't small hardly of and more believe The fundamentals</p>
                      </div>
                    </a>
                  </div>
                  <div class="tab-pane p-a-1 fade" role="tabpanel" id="demoright-2"></div>
                  <div class="tab-pane p-a-1 fade" role="tabpanel" id="demoright-3"></div>
                </div>
              </div>
              <!-- END RIGHt PANEL-->
            </li>

            <li class="nav-item dropdown"><a class="nav-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="icon ion-android-notifications-none"></i><span class="badge badge-danger status">9+</span></a>
              <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-header">Notifications (5)</div>
                <div class="dropdown-menu-inner">
                  <a class="dropdown-item media circle-box" href="#">
                    <div class="media-body">
                    <div class="media-heading">Ryan Sears</div>
                      <p class="text-muted small">Pink do well together specially name if design postage briefs big into in her working</p>
                    </div>
                  </a>
                  <a class="dropdown-item media circle-box" href="#">
                    <div class="media-left media-middle">
                      <div class="media-object circle-object bg-danger"><i class="fa fa-bug"></i></div>
                    </div>
                    <div class="media-body">
                      <div class="media-heading">Server Error</div>
                      <p class="text-muted small">3 minutes ago</p>
                    </div>
                  </a>
                  <a class="dropdown-item media circle-box" href="#">
                    <div class="media-left media-middle">
                      <div class="media-object circle-object bg-success"><i class="fa fa-check"></i>
                    </div>
                    </div>
                    <div class="media-body">
                      <div class="media-heading">Server Error Reports</div>
                      <p class="text-muted small">3 minutes ago</p>
                    </div>
                  </a>
                  <a class="dropdown-item media circle-box" href="#">
                    <div class="media-body">
                      <div class="media-heading">Judith Sullivan</div>
                      <p class="text-muted small">Option wouldn't small hardly of and more believe The fundamentals</p>
                    </div>
                  </a>
                </div>
                <a class="dropdown-item" href="#"><div class="text-xs-center"><i class="ion-more"></i></div></a>
              </div>
            </li>
            <li class="nav-item dropdown"><a class="nav-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="icon ion-paintbucket"></i></a>
              <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg">
                <div class="js-color-switcher demo-color-switcher">
                  <div class="dropdown-header">Flat</div>
                  <div class="list-inline">
                    <a class="list-inline-item" href="#" data-color="f-dark"><div class="demo-skin-grid f-dark"></div></a>
                    <a class="list-inline-item" href="#" data-color="f-dark-blue"><div class="demo-skin-grid f-dark-blue"></div></a>
                    <a class="list-inline-item" href="#" data-color="f-blue"><div class="demo-skin-grid f-blue"></div></a>
                    <a class="list-inline-item" href="#" data-color="f-green"><div class="demo-skin-grid f-green"></div></a>
                    <a class="list-inline-item" href="#" data-color="f-deep-taupe"><div class="demo-skin-grid f-deep-taupe"></div></a>
                  </div>
                  <div class="dropdown-header">Gradient</div>
                  <div class="list-inline">
                    <a class="list-inline-item" href="#" data-color="orchid"><div class="demo-skin-grid orchid"></div></a>
                    <a class="list-inline-item" href="#" data-color="cadetblue"><div class="demo-skin-grid cadetblue"></div></a>
                    <a class="list-inline-item" href="#" data-color="joomla"><div class="demo-skin-grid joomla"></div></a>
                    <a class="list-inline-item" href="#" data-color="influenza"><div class="demo-skin-grid influenza"></div></a>
                    <a class="list-inline-item" href="#" data-color="moss"><div class="demo-skin-grid moss"></div></a>
                    <a class="list-inline-item" href="#" data-color="mirage"><div class="demo-skin-grid mirage"></div></a>
                    <a class="list-inline-item" href="#" data-color="stellar"><div class="demo-skin-grid stellar"></div></a>
                    <a class="list-inline-item" href="#" data-color="servquick"><div class="demo-skin-grid servquick"></div></a>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-item"><a class="nav-link" href="#"><i class="icon ion-android-exit"></i></a></li>
            <li class="nav-item"><a class="nav-link close-mobile-nav js-close-mobile-nav" href="#"><i class="icon ion-close"></i></a></li>
            <!-- END TOP RIGHT MENU-->
          </ul>
        </div>
        <!--END TOP WRAPPER-->


        <!-- PAGE CONTENT HERE-->
        <!-- #PAGE HEADER-->
        <!-- PAGE HEADER-->
        <div class="page-header">
          <div class="row">
            <div class="col-md-4">
              <div class="media">
                <div class="media-body">
                  <div class="display-6">Arqueo Caja</div>
                  <div class="small text-muted">para soporte llamar a 22 </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END PAGE HEADER-->

        
        <div class="container-fluid">
          <div class="row js-grid-wrapper panel-wrapper">
            
            <!-- #SELECT2-->
            {% block content %}	
            <form class="col-sm-12">  
              {% csrf_token %}  
              <div class="panel panel-default">
                <div class="panel-heading"></div>
                <div class="panel-body">
                  <div class="row m-b-3">
                    <div class="contenido">
                        
                      <div class="ec">
                        <div class="etiquetas">

                          <div class="fc">
                            <div class="fecha">
                              <label class="fecha_label col-form-label">Fecha</label>
                              <input class="fecha_input form-control" type="datetime" name="hoy" value="{{hoy}}">
                            </div>
                            <div class="correlativo">
                              <label class="correlativo_label col-form-label">Correlativo</label>
                              <input class="correlativo_input form-control" type="text" name="correlativo" id="correlativo" value="{{correlativo}}">
                            </div>
                          </div>

                          <div class="oficina">
                            <label class="oficina_label col-form-label">Oficina</label>
                            <input class="oficina_input form-control" type="text" name="oficina" id="oficina" value="{{oficina}}">
                          </div>
                          <div class="cajero">
                            <label class="cajero_label col-form-label">Cajero</label>
                            <input class="cajero_input form-control" type="text" name="cajero" id="cajero" value="{{cajero}}">
                          </div>
                        </div>
                        <button class="boton_iconos cerdo" type="submit" id="guardar" name="guardar">
                          <a href=""><i class="fas fa-piggy-bank fa-4x"></i></a>
                        </button>
                      </div>
                            
                      <div class="et">
                        <div class="izq">
                          <div class="fijo">
                            <label class="fijo_label col-form-label">F. Fijo</label>
                            <input class="fijo_input form-control" type="text" name="fijo" id="fijo" value="{{fijo}}"> 
                          </div>
                          <div class="ingreso">
                            <label class="ingreso_label col-form-label">Ingresos</label>
                            <input class="ingreso_input form-control" type="text" name="ingreso" id="ingreso" value="{{ingreso}}">
                          </div>
                          <div class="total">
                            <label class="total_label col-form-label">Total Caja</label>
                            <input class="total_input form-control" type="text" name="total_caja" id="total_caja" value="{{total_caja}}">
                          </div>
                          <div class="egreso">
                            <label class="egreso_label col-form-label">Egresos</label>
                            <input class="egreso_input form-control" type="text" name="egresos" id="egresos" value="{{egresos}}">
                          </div>
                          <div class="saldo">
                            <label class="saldo_label col-form-label">Saldo</label>
                            <input class="saldo_input form-control" type="text" name="saldo" id="saldo" value="{{saldo}}">
                          </div>
                          <div class="fijo">
                            <label class="fijo_label col-form-label">F. Fijo</label>
                            <input class="fijo_input form-control" type="text" name="fijo" id="fijo" value="{{fijo}}">
                          </div>
                          <div class="neto">
                            <label class="neto_label col-form-label">Total Neto</label>
                            <input class="neto_input form-control" type="text" name="total_neto" id="total_neto" value="{{total_neto}}">  
                          </div>
                        </div>
                        
                        <div class="der">
                          <table class="table table-bordered">
                            <thead>
                              <tr class="tabla_info">
                                <th class="">Nº Serie</th>
                                <th class="banco">Banco</th>
                                <th class="vencimiento">F. Vencimiento</th>
                                <th class="">Monto</th>
                                <th class="">Plaza</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div> 

                      <div class="mbt">
                        <div class="tabla_dinero">
                          <div class="monedas">
                            <h5 class="monedas_titulos">Detalle Metálico</h5>
                            <div class="card-body">
                              <table class="table table-bordered">
                                <tbody>
                                  <tr>
                                    <th class="dinero_label tabla_info">500</th>
                                    <td class="dinero "><input type="text" name="500" id="500"></td>
                                  </tr>
                                  <tr>
                                    <th class="dinero tabla_info">100</th>
                                    <td class="dinero"><input type="text" name="100" id="100"></td>
                                  </tr>
                                  <tr>
                                    <th class="dinero tabla_info">50</th>
                                    <td class="dinero"><input type="text" name="50" id="50"></td>
                                  </tr>
                                  <tr>
                                    <th class="dinero tabla_info">10</th>
                                    <td class="dinero"><input type="text" name="10" id="10"></td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                            <div class="form-group total_monedas">
                              <label class="total_dinero_label">Total Metálico</label>
                              <input class="form-control" type="email" name="total_metalico" id="total_metalico">
                            </div>
                          </div>
                          
                          <div class="billetes">
                            <h5 class="billetes_titulo">Detalle Billetes</h5>

                            <div class="card-body">
                              <table class="table table-bordered">
                                <tbody>
                                  <tr>
                                    <th class="dinero_label tabla_info">20000</th>
                                    <td class="dinero"><input type="text" name="20000" id="20000"></td>
                                  </tr>
                                  <tr>
                                    <th class="dinero tabla_info">10000</th>
                                    <td class="dinero"><input type="text" name="10000" id="10000"></td>
                                  </tr>
                                  <tr>
                                    <th class="dinero tabla_info">5000</th>
                                    <td class="dinero"><input type="text" name="5000" id="5000"></td>
                                  </tr>
                                  <tr>
                                    <th class="dinero tabla_info">2000</th>
                                    <td class="dinero"><input type="text" name="2000" id="2000"></td>
                                  </tr>
                                  <tr>
                                    <th class="dinero tabla_info">1000</th>
                                    <td class="dinero"><input type="text" name="1000" id="1000"></td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>

                            <div class="form-group total_billetes">
                              <label class="total_dinero_label">Total Billetes</label>
                              <input class="form-control" type="text" name="total_billetes" id="total_billetes">
                            </div>
                          </div>

                          <div class="totalisimo">
                            <h5 for="">Total Dinero</h5>
                            <input class="form-control" type="text" name="total_dinero" id="total_dinero">
                          </div>

                        </div>
      
                        <div class="tabla">
                          <div class="tabla1">
                            <table class="table table-bordered">
                              <tbody>
                                <tr>
                                  <td class="tablas_label">Consumo de Boletas</td>
                                  <td class="tablas"><input type="text" name="cons_boletas" id="cons_boletas"></td>
                                </tr>
                                <tr>
                                  <td class="tablas">Consumo de Facturas</td>
                                  <td class="tablas"><input type="text" name="cons_facturas" id="cons_facturas"></td>
                                </tr>
                                <tr>
                                  <td class="tablas">Multas</td>
                                  <td class="tablas"><input type="text" name="multas" id="multas"></td>
                                </tr>
                                <tr>
                                  <td class="tablas">Cuotas Sociales</td>
                                  <td class="tablas"><input type="text" name="cuotas_sociales" id="cuotas_sociales"></td>
                                </tr>
                                <tr>
                                  <td class="tablas">Otros Ingresos</td>
                                  <td class="tablas"><input type="text" name="otros_ingresos" id="otros_ingresos"></td>
                                </tr>
                                <tr>
                                  <th class="tablas">TOTAL</th>
                                  <td class="tablas"><input type="text" name="total" id="total"></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="tabla2">
                            <table class="table table-bordered m-0">
                              <tbody>
                                <tr>
                                  <td class="tablas_label">Egresos</td>
                                  <td class="tablas"><input type="text" name="" id=""></td>
                                </tr>
                                <tr>
                                  <td class="tablas">Depósitos en Cta Cte.</td>
                                  <td class="tablas"><input type="text" name="dep_cta_cte" id="dep_cta_cte"></td>
                                </tr>
                                <tr>
                                  <td class="tablas">Depósitos en Billetes</td>
                                  <td class="tablas"><input type="text" name="dep_billetes" id="dep_billetes"></td>
                                </tr>
                                <tr>
                                  <td class="tablas">Depósitos en Cheques</td>
                                  <td class="tablas"><input type="text" name="dep_cheques" id="dep_cheques"></td>
                                </tr>
                                <tr>
                                  <td class="tablas">Monedas</td>
                                  <td class="tablas"><input type="text" name="monedas" id="monedas"></td>
                                </tr>
                                <tr>
                                  <th class="tablas">TOTAL</th>
                                  <td class="tablas"><input type="text" name="total2" id="total2"></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>

                      </div>  

                      <div class="iconos">    
                        <button class="boton_iconos" type="submit" id="guardar" name="guardar">                          
                          <a href="#"><i class="far fa-save fa-4x icono"></i></a>
                        </button> 
                        <button class="boton_iconos" type="submit" id="guardar" name="guardar">                          
                          <a href="#"><i class="fas fa-print fa-4x icono"></i></a>
                        </button> 
                        <button class="boton_iconos" type="submit" id="guardar" name="guardar">                          
                          <a href="#"><i class="fas fa-times fa-4x icono"></i></a>
                        </button> 
                        <button class="boton_iconos" type="submit" id="guardar" name="guardar">                          
                          <a href="#"><i class="fas fa-trash-alt fa-4x icono"></i></a>
                        </button> 
                        <button class="boton_iconos" type="submit" id="guardar" name="guardar">                          
                          <a href="#"><i class="fas fa-undo-alt fa-4x icono"></i></a>
                        </button>
                      </div>                       
                    </div>
                  </div>
                </div>
              </div>
            </form>
            {% endblock %}
          </div>
          <!-- ROW-->         
        </div>
        <!-- END CONTAINER FIUID-->      
      </div>
      <!-- END VIEW WRAPPER -->
    </div>
    <!-- END MAIN WRAPPER-->

            
    <!-- WEB PERLOAD-->
    <div id="preload">
        <ul class="loading">
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>


    <script type="text/javascript">
      $(document).ready(function () {
        var availableTags =['{% for n in all_socios %}{{n.id}}  {{n.nombre}}','{% endfor %}'];
            $("#buscarsocio").autocomplete({
            source: availableTags,
            minLength: 2,
            });
        });
        $("#buscarsocio").change(function () {
          var countryId = $(this).val();
          $.ajax({
              url: '/procesos/consumo/id/',
              data: {
              'socio': countryId
              },
              success: function (data) {
              $("#numero").val(
                  data
              );
              
              }
              
          });
        });
        $(':checkbox').checkboxpicker();
      </script>

    <script src="{% static 'assets/scripts/lib/jquery-1.11.3.min.js' %}"></script>
    <script src="{% static 'assets/scripts/lib/jquery-ui.js' %}"></script>
    <script src="{% static 'assets/scripts/lib/tether.min.js' %}"></script>
    <script src="{% static 'assets/scripts/theme/theme-plugins.js' %}"></script>
    <script src="{% static 'assets/scripts/theme/main.js' %}"></script>
    <script src="{% static 'assets/scripts/demo/demo-skin.js' %}"></script>
    <script src="{% static 'assets/scripts/demo/bar-chart-menublock.js' %}"></script>
  </body>
</html>